.board-container {
    display: grid;
    grid-template-columns: repeat(var(--board-size), 10em);
    grid-template-rows: repeat(var(--board-size), 10em);
    margin-top: 1em;
}

.board-cell {
    border: 1px solid black;
    font-size: 8em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}